html {
	position: relative;
	min-height: 100%;
}

.index{
	background-image:url("../img/spazioLogin.jpg");
	overflow: hidden;
}

.form{
	text-align: center;
	
}

#whiteHeader {
	color:white;
}

#whiteLabel{
	color:white;
}


::-webkit-scrollbar{
	display: none;
}