html {
	position: relative;
	min-height: 100%;
}

.index{
	background-image:url("../img/spazioLogin.jpg");
}

.noScrollBar{
	overflow: hidden;
}

#colorHeader {
	color:#fbd300;
}

#colorLabel{
	color:#fbd300;
}

.form{
	text-align: center;
}

a:link {
  color: #ffff00;
}

a, a:visited, a:active {
  color: inherit;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #10416b;
}

ul.nav a:hover {
	background-color: #10416b;
}

.btn-1 {
	background-color: #10416b;
	color : white;
}

.btn-2 {
  background-color: #10416b;
  color : white;
}

.btn-3 {
  background-color: #10416b;
  color : white;
}

.btn-4 {
  background-color: #10416b;
  color : white;
}

.form{
	text-align: center;
}

#rigata{
	border: 1px solid;
	border-style: solid;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.Elenco{
	color: #feb236;
}
.home{
	background-image:url("../img/spazioLogin.jpg")
}



#whiteHeader {
	color:white;
}

#whiteLabel{
	color:white;
}