html {
	position: relative;
	min-height: 100%;
}

.index{
	background-image:url("../img/spazioLogin.jpg");
	overflow: hidden;
}



#colorHeader {
	color:#fbd300;
}

#colorLabel{
	color:#fbd300;
}

.form{
	text-align: center;
	
}

a:link {
  color: #ffff00;
}

a, a:visited, a:active {
  color: inherit;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #10416b;
}

ul.nav a:hover {
	background-color: #10416b;
}

.btn-1 {
  background-image: linear-gradient(to right, #6643b5 0%, #6643b5, #8594e4 100%);
  color : white;
}

.btn-2 {
  background-image: linear-gradient(to right, #142d4c 0%, #385170, #9fd3c7 100%);
  color : white;
}

.btn-3 {
  background-image: linear-gradient(to right, #113f67 0%, #38598b, #a2a8d3 100%);
  color : white;
}

.btn-4 {
  background-image: linear-gradient(to right, #27296d 0%, #5e63b6, #5e63b6 100%);
  color : white;
}

.form{
	text-align: center;
	
}
th {
	border : solid;
	border-color : #ff9a3c;
	color : #ff9a3c;
}


td {
	border : solid;
	color : #fbd300;
}

#rigata{
	color : #fbd300;
	border: 1px solid;
	border-style: solid;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.Elenco{
	color: #feb236;
}
.home{
	background-image:url("../img/spazioLogin.jpg")
}



#whiteHeader {
	color:white;
}

#whiteLabel{
	color:white;
}